<h1>Places Details</h1>

<ol>
  <ul>
    <li>ID: @place.PlaceId</li>
    <li>Country: @place.Country</li>
    <li>Place Name: @place.Name</li>
    <li>User: @place.UserName</li>
    <li>Rating: @place.Rating</li>
    <li>Description: @place.Description</li>
  </ul>
</ol>


