@using ExplorationClient.Models;

<h1>Edit Review:</h1>

<form action="/Places/Details/@(Model.PlaceId)" method="post">
  <label for="name">Place Name:</label>
  <input id="name" name="name" type="text" value="@(Model.Name)">
  <label for="country">Country:</label>
  <input id="country" name="country" type="text" value="@(Model.Country)">
  <label for="userName">User:</label>
  <input id="userName" name="userName" type="text" value="@(Model.UserName)">
  <label for="rating">Rating:</label>
  <input id="rating" name="rating" type="text" value="@(Model.Rating)">
  <label for="description">Description:</label>
  <input id="description" name="description" type="text" value="@(Model.Description)">
  <button type="submit">Save</button>
</form>

<br>

<a href="/Places/Details/@(Model.PlaceId)">Return to Details</a>